* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    background: black;
    color: white;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

#container {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.line {
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    transition: opacity .3s;
}

.fancy {
    text-decoration: none;
    color: inherit;
}

#container:has(.fancy:hover) .line:not(:hover) {
    opacity: 0.2;
}

.letter {
    display: inline-block;
    transform: translate(0, 0) rotate(0);
    transition: transform .3s ease-in-out, color .3s ease-in-out;
}

.fancy:hover .letter {
    color: #dcf763;
    
    transform: translate(var(--transformX), var(--transformY)) rotate(var(--rotateDeg));
}

.outer {
    display: inline-block;
}

.fancy:hover .outer {
    animation: float 3s linear var(--floatYDelay) infinite;
}

@keyframes float {
    from,
    to {
        transform: translateY(0);
    }

    50% {
        transform: translateY(var(--floatY));
    }
}