* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    background: black;
    color: white;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

#container {
    display: flex;
    flex-direction: column;
}

.line {
    text-decoration: none;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;

    display: flex;
    justify-content: space-between;
}

.line:has(.fancy) {
    font-size: .5rem;
}